<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-light">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Tweet!
        </a>
      </div>    
      <div class="navbar-end">
        <div class="control is-right navbar-item">
          
          <form action="/hashtag" method="POST"> 
            <input name="search" class="input" type="text" placeholder="Hashtag">
          </form>          
        </div>
      </div>
    </div> 
</nav>